
<div class="heading">
  <div class="heading-left">
    <p>Subtraction</p> 
    <p>Assignment</p>
  </div>
  <div class="heading-right">
    <ol>
      Rules :
      <li>Both numbers n1, n2 lie in the range (5, 12)excluding 10.
      </li>
      <li>Both numbers lie in the range (5, 12) and result is not equal to zero.
      </li>
      <li>Both numbers lie in the range (9, 99) having zero either in one’s place or ten’s place or both.
      </li>
      <li>Subtraction of 2-digit and 3-digit numbers such that there is no borrowing. (i.e. For n1 – n2, unit’s place digit of n1
        must be greater than that of n2. Similarly, ensure that there is no borrowing in ten’s place too.)
      </li>
      <li>Subtraction of 2-digit and 3-digit numbers such that there is borrowing. (i.e. For n1 – n2, unit’s place digit of n1 must
        be smaller than that of n2.)
        </li>
    </ol>
  </div>
</div>
<div class="sub-heading-parent">
  <div class="sub-heading">
    <div class="sub-heading-left">
      <p style="padding: 0px; margin: 0px">Enter the problem type</p>
      <input type="text" #box style="width: 50%; text-align: center;"/>
    </div>
    <div class="sub-heading-right">
      <p style="padding: 0px; margin: 0px">Enter the Number of Questions</p>
      <input type="text" #box1 style="width: 50%; text-align: center;"/>
    </div>
  </div>
  <button (click)="getnum(box.value,box1.value)">Submit</button>
</div>

<div *ngIf = "showQuestions==false">
  <h2 style="text-align: center;"> Subtraction problems</h2>
  <div  *ngFor = 'let x of ans'>
    <div class="sub-problems"> {{x}} </div>
  </div>
</div>